
.login-body{
    background-image: url('/src/assets/image/signUp/loginPage.png');
    background-repeat: no-repeat;
    background-size: cover; /* 배경 이미지가 요소를 완전히 채우도록 설정 */
    background-position: center; /* 배경 이미지의 위치를 가운데로 조정 */
    height: 100vh; /* 화면의 높이에 따라 요소의 높이를 조정 */
    display: flex;
}

.login-window{
    width: 50vh;
    height: 50vh;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
    padding: 7vh 0;
    margin: auto ;
}

#login-logo{
    width: 33vh;
    height: 11vh;
}

#login-info{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    color: #98A7FA;
}

.login{
    display: block;
    margin-top: 5vh;
}

#login-idicon{
    display: flex;
    align-items: center;
    width: 40vh;
    height: 3vh;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 2vh auto;
}

#login-idicon input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 1vh;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

#login-passicon{
    display: flex;
    align-items: center;
    width: 40vh;
    height: 3vh;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 16px auto;
}

#login-passicon input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 1vh;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

.login-btn{
    margin-top: 5vh;
}

.login-btn button{
    width: 44vh;
    height: 5vh;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 0.5vh auto;
}

#login{
    background-color: #4B65F6;
    color: #ffffff;
    margin-bottom: 1vh;
    border: none;
    font-size: 2vh;
    font-family: 'Pretendard';
    font-weight: 600;
}

#login:hover{
    background-color: #98A7FA;
    cursor: pointer;
}

#login-signup{
    background-color: #ffffff;
    color: #4B65F6;
    border: 1px solid #4B65F6;
    font-size: 2vh;
    font-family: 'Pretendard';
    font-weight: 600;
}

#login-signup:hover{
    border:  1px solid #98A7FA;
    color: #98A7FA;
    cursor: pointer;
}

#login-signup a{
    background-color: #ffffff;
    color: #4B65F6;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 600;
}