
.login-body{
    background-image: url('../image/signUp/loginPage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

.login-window{
    width: 360px;
    height: 370px;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
    padding: 80px 20px;
    margin: auto ;
}

#login-logo{
    width: 230px;
    height: 80px;
}

#login-info{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    color: #98A7FA;
}

.login{
    display: block;
    margin-top: 40px;
}

#login-idicon{
    display: flex;
    align-items: center;
    width: 300px;
    height: 26px;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 10px auto;
}

#login-idicon input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

#login-passicon{
    display: flex;
    align-items: center;
    width: 300px;
    height: 26px;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 16px auto;
}

#login-passicon input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

.login-btn{
    margin-top: 30px;
}

.login-btn button{
    width: 330px;
    height: 40px;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 5px auto;
}

#login{
    background-color: #4B65F6;
    color: #ffffff;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 600;
}

#login:hover{
    background-color: #98A7FA;
    cursor: pointer;
}

#login-signup{
    background-color: #ffffff;
    color: #4B65F6;
    border: 1px solid #4B65F6;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 600;
}

#login-signup:hover{
    border:  1px solid #98A7FA;
    color: #98A7FA;
    cursor: pointer;
}

#login-signup a{
    background-color: #ffffff;
    color: #4B65F6;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 600;
}