
*{
    font-family: 'pretendard';
    text-decoration: none;
    list-style: none;
}

/* 사이드메뉴 */
.mypage-sidemenu{
    width: 35vh;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: #F9FAFD;
    border-right: 1px solid rgba(126, 150, 255, 0.16);
}
#mypage-logo{
    width: 20vh;
    height: 8vh;
    margin: 3vh auto;
}
/* 로고 */
#mypage-logo img{
    width: 100%;
    height: 100%;
    margin: auto;
}

/* 메뉴리스트 */
.mypage-menu{
    width: 35vh;
}

#mypage-menuList{
    height: 6vh;
    width: 30vh;
    color: #737373;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    align-items: center; /* 수직 가운데 정렬 */
    border-radius: 4px;
    border: none;
    display: block;
    margin: 1vh 3vh;

    background-color: #F9FAFD;
    color: #000000;
}

.mypage-menu li .menuList{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #737373;
}

#mypage-menuList img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

#mypage-menuList:hover{
    background-color: #DBE2FD;
    cursor: pointer;
}










.mypage-account{
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    display: flex;
    width: 25vh;
    height: 6vh;
    margin: 0 auto;
}

.mypage-account img{
    margin-right: 2vh;
}

.mypage-account p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.mypage-account h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}















/* 오른쪽 콘텐츠 */
.mypage-wrap{
    width: 150vh;
    margin-left: 40vh;
    display: flex;
    flex-direction: column;
}

.mypage-mypage{
    font-size: 24px;
    font-weight: 600;
    margin: 3vh 0;

}

.mypage-contentBox{
    width: 100%;
    height: 65vh;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid rgba(126, 150, 255, 0.16);
    box-shadow: 0px 0px 20px rgba(126, 150, 255, 0.16);

    padding: 5vh 7vh;
}

.mypage-profile{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.mypage-name{
    font-size: 24px;
    font-weight: 700;
    color:#333;
    margin-left: 12px;
}

.mypage-innerBox2{
    width: 145vh;
    height: 2vh;
    background-color: #F9FAFD;
    border: 1px solid rgba(126, 150, 255, 0.3);
    border-radius: 16px 16px 0px 0px;

    padding: 3vh 2vh;
    margin-bottom: -1px;
}

.mypage-innerBox3{
    width: 145vh;
    height: 2vh;
    background-color: #F9FAFD;
    border: 1px solid rgba(126, 150, 255, 0.3);

    padding: 3vh 2vh;
    margin-bottom: -1px;
}

.mypage-innerBox4{
    width: 145vh;
    height: 2vh;
    background-color: #F9FAFD;
    border: 1px solid rgba(126, 150, 255, 0.3);
    border-radius: 0px 0px 16px 16px;

    padding: 3vh 2vh;
    padding-bottom: 30px;
}

.mypage-info-wrap1{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 644px;
}

.mypage-info-wrap2{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 640px;
}

.mypage-infomation1{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 470px;
}

.mypage-infomation2{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 940px;
}

.mypage-rightCont{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 194px;
}

.mypage-rightCont2{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 190px;
}

.mypage-line{
    width: 0.8px;
    height: 78px;
    background-color: rgba(126, 150, 255, 0.3);

    margin-right: 20px;
}

.mypage-bold{
    font-size: 16px;
    font-weight: 600;
    color: #333;

    margin-right: 37px;
}

.mypage-bold2{
    font-size: 16px;
    font-weight: 600;
    margin-right: 23px;
    color: #333;
}

.mypage-bold3{
    font-size: 16px;
    font-weight: 600;
    margin-right: 19px;
    color: #333;
}

.mypage-bold4{
    font-size: 16px;
    font-weight: 600;
    margin-right: 51px;
    color: #333;
}

.mypage-regular{
    font-size: 16px;
    font-weight: 400;
    color: #444;
}

/* 버튼 */
.mypage-btn{
    width: 10vh;
    height: 5.5vh;
    margin-left: auto;
    margin-bottom: -1vh;
}

.mypage-btn button{
    width: 10vh;
    height: 5.5vh;

    background-color: #4B65F6;
    border: none;
    color:white;
    font-size: 2vh;
    font-weight: 700;
    text-align: center;

    margin: 0;
}

.mypage-btn button:hover{
    background-color: #98A7FA;
    cursor: pointer;
}