

*{
    font-family: 'pretendard';
    text-decoration: none;
    list-style: none;
}

/* 사이드메뉴 */
.mypage-sidemenu{
    width: 270px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #F9FAFD;
    border-right: 1px solid rgba(126, 150, 255, 0.16);
}
#mypage-logo{
    width: 150px;
    height: 60px;
    margin: 20px auto;
}
/* 로고 */
#mypage-logo img{
    width: 100%;
    height: 100%;
    margin: auto;
}

/* 메뉴리스트 */
.mypage-menu{
    width: 270px;
}

#mypage-menuList{
    height: 50px;
    width: 220px;
    color: #737373;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    align-items: center; /* 수직 가운데 정렬 */
    border-radius: 4px;
    border: none;
    display: block;
    margin: 8px 25px;

    background-color: #F9FAFD;
    color: #000000;
}

.mypage-menu li .menuList{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #737373;
}

#mypage-menuList img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

#mypage-menuList:hover{
    background-color: #DBE2FD;
    cursor: pointer;
}










.mypage-account{
    position: absolute;
    bottom: 30px;
    left: 60px;
    display: flex;
    width: 250px;
    height: 40px;
    margin: 0 auto;
}

.mypage-account img{
    margin-right: 20px;
}

.mypage-account p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.mypage-account h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}















/* 오른쪽 콘텐츠 */
.mypage-wrap{
    width: 660px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}

.mypage-mypage{
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0;
}

.mypage-contentBox{
    width: 100%;
    height: 710px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid rgba(126, 150, 255, 0.16);
    box-shadow: 0px 0px 20px rgba(126, 150, 255, 0.16);

    padding: 40px 40px 20px 40px;
    margin: 0 0 50px 0;
}

.mypage-profile{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.mypage-name{
    font-size: 24px;
    font-weight: 700;
    color:#333;
    margin-left: 12px;
}

.mypage-innerBox2{
    width: 630px;
    height: 18px;
    background-color: #F9FAFD;
    border: 1px solid rgba(126, 150, 255, 0.3);
    border-radius: 16px 16px 0px 0px;

    padding: 20px 15px;
    margin-bottom: -1px;
}

.mypage-innerBox3{
    width: 630px;
    height: 18px;
    background-color: #F9FAFD;
    border: 1px solid rgba(126, 150, 255, 0.3);

    padding: 20px 15px;
    margin-bottom: -1px;
}

.mypage-innerBox4{
    width: 630px;
    height: 18px;
    background-color: #F9FAFD;
    border: 1px solid rgba(126, 150, 255, 0.3);
    border-radius: 0px 0px 16px 16px;

    padding: 20px 15px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.mypage-infomation2{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 600px;
}

.mypage-infomation2 input{
    border: none;
    width: 78%;
    text-align: left;
    outline: none;
    font-size: 16px;
    background-color: #F9FAFD;

    font-family: 'Pretendard';
    font-weight: 400;
}

.mypage-bold{
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

/* 버튼 */
.mypage-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    margin-right: 40px;
    margin-left: auto;
}

#mypage-update{
    width: 70px;
    height: 40px;

    margin-left: 10px;
    background-color: #4B65F6;
    border-radius: 5px;
    border: none;
    color:white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

#mypage-delete{
    width: 70px;
    height: 40px;

    background-color: #FF5555;
    border-radius: 5px;
    border: none;
    color:white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.mypage-btn button:hover{
    background-color: #98A7FA;
    cursor: pointer;
}


#logout-btn{
    background-color: #F9FAFD;
    border: none;
    margin: 0px;
    padding: 0px;
}

#logout-btn:hover{
    cursor: pointer;
    color: #4B65F6;
}