
/* 메인컨텐츠 */
.total-main{
    width: 1230px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}

.total-top{
    display: flex;
}


/*여서부터*/
.total-top-bar{
    display: flex;
}

.total-toggle-btn{
    background-image: url("../image/resultPage/toggle.png");
    background-size: cover;
    background-color: white;
    width: 50px;
    height: 40px;
    position: fixed;
    right: 10px;
    z-index: 2;
    border: none;
    margin: 10px;
}
.total-toggle-btn:hover{
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 60px;
    right: 0;
    width: 180px;
    height: 500px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
    border-radius: 30px 0 0 30px;
    overflow-y: auto;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.total-user-list{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0 0;
}

.total-user-list button{
    background-color: #fff;
    border: none;
    margin: 0 0 0 5px;
    font-size: 16px;
    font-weight: 800;
    color: #4B65F6;
}
.total-user-list button:hover{
    cursor: pointer;
}
.total-user-on{
    width: 15px;
    height: 15px;
    background-color: limegreen;
    border-radius: 8px;
    margin: auto 0;
}

.total-user-off{
    width: 15px;
    height: 15px;
    background-color: #999999;
    border-radius: 8px;
    margin: auto 0;
}






/* 횟수 */
.total-count{
    display: block;
    width: auto;
    height: auto;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
    margin-right: 20px;
    padding: 30px;
}
.total-count-detail {
    width: 230px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.total-count-detail h3{
    font-size: 20px;
    font-weight: 600;
    color: #4B65F4;
    margin: 0;
}
.total-count-detail p{
    color: #444;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.total-count hr{
    width: 230px;
    height: 1px;
    border: none;
    background-color: #e7e7e7;
    margin: 10px auto;
}



/* 백분위 */
.total-hundred{
    display: block;
    width: 800px;
    height: auto;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
    margin-right: 20px;
    padding: 30px;
}

.total-title{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

/* 진단결과 요약 */
.total-sumup{
    display: block;
    width: 800px;
    height: auto;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
    margin-right: 20px;
    padding: 30px;
}

.info2{
    display: flex;
    flex-direction: column;
    margin: -20px 0;
}
.info2 p{
    font-size: 14px;
    font-weight: 400;
    color: #444444;
}
.info2 b{
    color: #4B65F4;
    font-weight: 800;
}



/* 컨텐츠별 진척도 */
.total-bottom{
    display: flex;
    margin: 20px 0;
}

.total-contents{
    display: block;
    width: 1200px;
    height: auto;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
    margin-right: 20px;
    padding: 30px;
}

.total-table{
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

.total-container {
    display: flex;
    justify-content: space-between;
}

.total-options{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#total-drop{
    background-color:#EFF2FF ;
    border: none;
    padding: 6px 10px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    color: #4B65F4;
}
.total-table thead{
    border-radius: 8px;
    background-color: #EFF2FF;
}
.total-table th{
    text-align: left;
    font-size: 20px;
    color: #888888;
    font-weight: 600;
    padding: 10px 20px;
}
.total-table td{
    text-align: left;
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #EAEAEA;
}

.total-detail{
    display: flex;
    width: 100%;
    margin: 10px 0 0 0;
}

.total-detail a{
    margin-left: auto;
}



/* 날짜별 진척도 */
.days{
    display: block;
    width: 800px;
    height: auto;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
    margin-right: 20px;
    padding: 30px;
}









.total-hundred-chart{
    margin: -20px auto;
}

.total-sumup-chart{
    margin: 0px auto;
}








.summary-date{
    width: 30%;
}
.summary-name{
    width: 45%;
}
.summary-score{
    width: 25%;
}




