
.signup-body{
    background-image: url('../image/signUp/loginPage.png');
    background-size: cover; /* 배경 이미지가 요소를 완전히 채우도록 설정 */
    background-position: center; /* 배경 이미지의 위치를 가운데로 조정 */
    display: flex;
    background-attachment: fixed;
}

.signup-window{
    width: 360px;
    height: 800px;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
    padding: 60px 20px 80px 20px;
    margin: 50px auto ;
}

#signup-logo{
    width: 230px;
    height: 80px;
}

#signup-info{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    color: #98A7FA;
}

.signup-login{
    display: block;
    margin-top: 30px;
}

.signup-btn{
    margin-top: 30px;
}

#signup-icon{
    display: flex;
    align-items: center;
    width: 300px;
    height: 26px;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 10px auto;
}

#signup-icon input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

#signup-pass-icon,
#signup-pass-icon-check{
    display: flex;
    align-items: center;
    width: 300px;
    height: 26px;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 16px auto;
}

#signup-pass-icon input,
#signup-pass-icon-check input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

.signup-window p{
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #999;
}

.signup-window a{
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 500;
    margin-left: 10px;
    color: #4B65F6;
}

.signup-btn button{
    width: 330px;
    height: 40px;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 5px auto;
}

#signup-sign-up{
    background-color: #4B65F6;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 600;
}

#signup-sign-up:hover{
    color: #98A7FA;
    cursor: pointer;
}