.time-body{
    display:flex;
    justify-content: flex-start;
}

.test-main{
    width: 900px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}
.test-main h2{
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    margin-top: 60px;
}
.test-days{
    padding: 30px;
    width: 800px;
    height: auto;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
    margin: 0 0 50px 0;
}
.test-days2{
     padding: 30px;
     width: 1400px;
     height: auto;
     border-radius: 24px;
     border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
     background: #FFF;
     box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
     margin: 0 0 50px 0;
 }
.test-days .title{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}
.test-options{
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

#test-date{
    background-color: #f4f4f4;
    border: none;
    padding: 10px 24px;
    border-radius: 15px;
    color: #999;
    margin: 10px 0;
    font-size: 15px;
}
#test-img{
    height: auto;
    width: 20px;
    margin: auto 10px;
}



.test-table{
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}
.test-table thead{
    border-radius: 8px;
    background-color: #EFF2FF;
}
.test-table th{
    text-align: center;
    font-size: 20px;
    color: #888888;
    font-weight: 600;
    padding: 10px 20px;
}
.test-table td{
    text-align: center;
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #EAEAEA;
}

.test-detail{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.test-detail button{
    background-color: #fff;
    border: none;
    font-size: 15px;
    color: #4B65F4;
}
.test-detail button:hover{
    cursor: pointer;
}

.test-search-container {
    display: flex;
    align-items: center;
}
#test-search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 8px;
    font-size: 16px;
}

.test-search-button {
    background-image: url("../image/testPage/search.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 8px 16px;
    border: none;
    margin: auto;
}

.test-search-button:hover {
    cursor: pointer;
}





/*시계열 그래프 페이지*/
#time-text-img{
    width:100%;
    heihgt:auto;
}

.time-button-box{
    display: flex;
    width: 100%;
    height: auto;
}

.time-button{
    margin: 0 auto;
}

.time-button button {
    background-color: #fff;
    border:none;
    border-radius: 10px;
    display: inline-block;
    margin: 0 5px; /* 버튼 사이의 간격 조정 가능 */
    padding: 5px 10px; /* 버튼 패딩 조정 가능 */
    color: #000; /* 버튼 텍스트 색상 조정 가능 */
    text-decoration: none; /* 링크에 밑줄 제거 */
}

.time-button button:hover {
    background-color: #ddd; /* 호버 시 배경색 조정 가능 */
    border-radius: 15px;
    cursor: pointer;
}

.time-date{
    font-size: 24px;
    font-weight: 600;
    margin: 5px auto 40px 15px;
    color: #4B65F6;
}





/*시계열 결과 요약*/
.time-info{
    margin: auto auto 50px 10px;
    width: 270px;
    height: 220px;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(126, 150, 255, 0.16));
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
}

.time-info-top{
    width: 270px;
    height: 60px;
    background-color: #4B65F6;
    border-radius: 24px 24px 0 0;
    font-size: 24px;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: 800;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
}
.time-info-main{
    width: 270px;
    height: 160px;
    border-radius: 0 0 24px 24px;
    justify-content: space-between;
    box-shadow: 0px 0px 16px 0px rgba(126, 150, 255, 0.20);
    padding: 15px 50px;
    box-sizing: border-box;
}

.time-info-table{
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}
.time-info-table tr{
    line-height: 1.7;
    width: 100%;
}
.time-info-title{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 800;
}
.time-info-data{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
}


#contents-select{
    background-color:#fff ;
    height: 40px;
    font-size: 14px;
    color: #555;
    margin: 0 10px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.a{
    background-color: #f4f4f4;
    border: none;
    padding: 10px 24px;
    border-radius: 15px;
    color: #999;
    margin: 10px 0;
    font-size: 15px;
}

.test-date{
    width: 30%;
}

#bg1{
    width: 9%;
}
#bg2{
    width: 10%;
}
#bg3{
    width: 8.7%;
}
#bg4{
    width: 10.6%;
}
#bg5{
    width: 10.6%;
}
#bg6{
    width: 10.6%;
}
#bg7{
    width: 14%;
}
#bg8{
    width: 14%;
}
#bg9{
    width: 12.5%;
}


#bg img{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.modal-question1{
    position: fixed;
    top: 220px;
    left: 485px;
    padding: 10px;
}
.modal-question2{
    position: fixed;
    top: 220px;
    left: 618px;
    padding: 10px;
}
.modal-question3{
    position: fixed;
    top: 220px;
    left: 766px;
    padding: 10px;
}
.modal-question4{
    position: fixed;
    top: 220px;
    left: 884px;
    padding: 10px;
}
.modal-question5{
    position: fixed;
    top: 220px;
    left: 1075px;
    padding: 10px;
}
.modal-question6{
    position: fixed;
    top: 220px;
    left: 1279px;
    padding: 10px;
}
.modal-triangle{
    margin: 0 auto;
    opacity: 0.8;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid #333333;
    overflow: hidden;
}
.modal-main{
    background-color: #333333;
    opacity: 0.8;
    color: #fff;
    margin: 0px;
    padding: 7px 10px;
    border-radius: 10px;
}
.modal-main p{
    margin: 5px;
}