
.bodyy{
    background-image: url('/src/assets/image/signUp/loginPage.png');
    background-repeat: no-repeat;
    background-size: cover; /* 배경 이미지가 요소를 완전히 채우도록 설정 */
    background-position: center; /* 배경 이미지의 위치를 가운데로 조정 */
    height: 100vh; /* 화면의 높이에 따라 요소의 높이를 조정 */
    display: flex;
}

.window{
    width: 50vh;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
    padding: 7vh 0;
    margin: auto ;
}

#logo{
    width: 33vh;
    height: 11vh;
}

#info{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    color: #98A7FA;
}

.login{
    display: block;
    margin-top: 4vh;
}

.btn{
    margin-top: 3vh;
}

#id-icon,
#name1-icon,
#name2-icon,
#tel-icon{
    display: flex;
    align-items: center;
    width: 40vh;
    height: 2vh;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 2vh auto;
}

#id-icon input,
#name1-icon input,
#name2-icon input,
#tel-icon input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 1vh;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

#pass-icon,
#pass-icon-check{
    display: flex;
    align-items: center;
    width: 40vh;
    height: 2vh;
    border-radius: 12px;
    border: 1.5px solid #CBD5FF;
    padding: 10px 15px;
    margin: 2vh auto;
}

#pass-icon input,
#pass-icon-check input{
    border: none;
    width: 100%;
    text-align: left;
    margin-left: 1vh;
    outline: none;
    font-size: 16px;
    color: #A1A1A1;

    font-family: 'Pretendard';
    font-weight: 400;
}

.window p{
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #999;
}

.window a{
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 500;
    margin-left: 10px;
    color: #4B65F6;
}

.btn button{
    width: 44vh;
    height: 5vh;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 0.5vh auto;
}

#sign-up{
    background-color: #4B65F6;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 600;
}